

@media screen and (min-width:900px) and ( max-width : 1200px )  {

  /* this is the for the first contaniner */
    body{

        /* background-color: blue; */
    }
    .container1{
        justify-content: center;
        height: 100px;
    }
    .item2{
        justify-content: space-between;
    }
    .subi1{
        padding: 4px;
    }

 /* this is the container2  */

  #animation{
     width: 600px;
     
    }

    /* this is the fourth container  */

    .container4{
        column-gap: 40px;
        height: 550px;
    }

    .item6{
        width: 29vw;
        height: 250px;

    }
    .subi5{
        width: 6vw;
    }
    .subi6{
        width: 25vw;
    }
   .subi7{
       width: 26vw;
       height: 150px;
   }
 


}

/* this is the second media quary  */

@media screen and (min-width:700px) and ( max-width : 900px )  {             
    /* body{

        background-color: blue;
    } */
    .container1{
        justify-content: space-evenly;
       
        height: 90px;

        
    }
    .item1{
        width: 25vw;
        transform: none;

    }

    .item2{
        transform: none;
        width: 70vw;
    }
    
    
    
    .subi1{
        padding: 10px;
    }

    .container2{
        height: 450px;

    }

    
  #animation{
    width: 500px;
    height: 400px;
    
   }

 /* this is the fourth container  */

 .container4{
    column-gap: 30px;
    height: 550px;
}

.item6{
    width: 29vw;
    height: 250px;

}
.subi5{
    width: 6vw;
}
.subi6{
    width: 28vw;
}
.subi7{
   width: 26vw;
   height: 150px;
}
/* this is the fifth container  */

.item7{
    width: 25vw;

}

.item8{
    width: 24vw;
}
.item9{
    width: 24vw;
}
.item10{
    width: 24vw;
}

.subi8{
    width: 24vw;

}
.subi9{
    width: 24vw;
}
.subi10{
    width: 24vw;
}
.subi11{
    width: 24vw;
}
.subi12{
    width: 24vw;
}

}

/* this is the third media quary  */

@media screen and (min-width:500px) and ( max-width : 700px )  { 
    /* body{

        background-color: blue;
    } */

    .container1{
        justify-content: space-evenly;
       
        height: 60px;

        
    }
    .item1{
        width: 20vw;
        transform: none;
        font-size: 21px;
        height: 35px;

    }

    .item2{
        
        transform: none;
        width: 70vw;
        height: 30px;
        
    }
    
    
    
    .subi1{
        padding: 6px;
        font-size: 12px;
    }

/* this is the second container  */

    .container2{
        height: 400px;

    }

    
  #animation{
    width: 350px;
    height: 350px;
    
   }

/* this is the fourth  container  */
.container4{
    column-gap: 30px;
    height: 480px;
    
}

.item6{
    width: 29vw;
    height: 200px;

}
.subi5{
    width: 6vw;
    height: 50px;
}
.imgw{
  width: 50px;
}
.subi6{
    width: 28vw;
    font-size: 12px;
}
.subi7{
   width: 26vw;
   height: 150px;
   font-size: 12px;
}



    
    .item7{
        width: 25vw;
    
    }
    
    .item8{
        width: 24vw;
    }
    .item9{
        width: 24vw;
    }
    .item10{
        width: 24vw;
    }
    
    .subi8{
        width: 24vw;
    
    }
    .subi9{
        width: 24vw;
    }
    .subi10{
        width: 24vw;
    }
    .subi11{
        width: 24vw;
    }
    .subi12{
        width: 24vw;
    }

}


/* this is the fourth media quary  */

@media screen and (min-width:200px) and ( max-width : 500px )  { 
    /* body{

        background-color: blue;
    } */

    .container1{
        
       flex-direction: column;
       height: fit-content;
        

        
    }
    .item1{
        width: 60vw;
        transform: none;
        font-size: 36px;
        height: 55px;
        

    }
    .subicon{
        display: block;
       margin: 0px 20px;
       background-color: transparent;
       color: coral;
    }
    
    
    

    .item2{
        transform: none;
        width: 80vw;
        height: 210px;
       flex-direction: column;

    }
    .item2{
        display: none;
    }

    .item2.active{
       
        display: block;
        text-align: center;
        
    }
    
    
    
    .subi1{
        padding: 6px;
        /* font-size: 12px; */
    }

/* this is the second container  */

    .container2{
        height:450px;
       display: none;
       display: flex;
       align-items: center;
       flex-direction: column;
       

    }
    .item3{
      width: 80vw;
      height: 210px;
    }
    .subi2{
        width: 80vw; 
        font-size: 15px;
    }
    .subi3{
        width: 60vw; 

    }
    #btn{
        
            width: 120px; 
        
    }
    #button2con{
        font-size: large;
    }
    .subi4{
        width: 80vw; 
    }
    
  #animation{
    width: 80vw;
    height: 200px;
    
   }
   .item4{
       width: 80vw;
       height: 200px;
   }
   /* this is the fourth container  */

   .container4{
    column-gap: 30px;
    height: 1100px;
    display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
}

.item6{
    width: 90vw;
    height: 500px;

}
.subi5{
    width: 16vw;
    height: 50px;
}
.imgw{
  width: 50px;
}
.subi6{
    width: 55vw;
    font-size: 12px;
}
.subi7{
   width: 85vw;
   height: 80px;
   font-size: 12px;
}



    
   
/* this is the fifth container  */

.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
}

    
    .item7{
        width: 80vw;
    
    }
    
    .item8{
        width: 80vw;
    }
    .item9{
        width: 80vw;
    }
    .item10{
        width: 80vw;
    }
    
    .subi8{
        width: 75vw;
    
    }
    .subi9{
        width: 75vw;
    }
    .subi10{
        width: 75vw;
    }
    .subi11{
        width: 75vw;
    }
    .subi12{
        width: 75vw;
    }




}